[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "LMN"]
	path = LMN
	url = https://github.com/mlysy/lmn
[submodule "MADPop"]
	path = MADPop
	url = https://github.com/mlysy/madpop
[submodule "SuperGauss"]
	path = SuperGauss
	url = https://github.com/cran/SuperGauss
[submodule "mniw"]
	path = mniw
	url = https://github.com/mlysy/mniw
[submodule "msde"]
	path = msde
	url = https://github.com/mlysy/msde
[submodule "nicheROVER"]
	path = nicheROVER
	url = https://github.com/mlysy/nicherover
[submodule "optimCheck"]
	path = optimCheck
	url = https://github.com/mlysy/optimcheck
[submodule "rdoxygen"]
	path = rdoxygen
	url = https://github.com/mlysy/rdoxygen
